    :root{
        --transition: all 1s linear;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .v-cont{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        filter: brightness(60%);
    }
    header{
        min-height: 100vh;
        position:relative;
        display: grid;
        place-items:center;
    }
    h1{
        font: 40px  "Franklin Gothic Medium" ;
        color: white;
    }
    .btn{
        position: relative;
        border: none;
        border-radius: 3px;
        background-color: white;
        padding: 10px 10px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        visibility: hidden;
        transition: var(--transition);
    }
    .switch{
        background-color:rgb(38, 183, 240);
        width:50%;
        display: inline-block;
        height: 100%;
        position: absolute;
        right: 50%;
        bottom: 0px;
        border-radius: inherit;
        transition: var(--transition);
    }
    .slide .switch{
        left: 50%;
        transition: var(--transition);
    }
    .pl{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        display:grid;
        justify-content: center;
        align-items: center;
    }
    .hpl{
        visibility: hidden;
    }
    .visible{
        visibility: visible;
    }

    #by{
        position: absolute;
        width: 100%;
        bottom: 4px;
        text-align: center;
    }
